/* google-fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&display=swap");

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/navi-bar.css";
@import "components/screen-header.css";
@import "components/user-components.css";
@import "components/notification.css";
@import "components/alternative-screen-header.css";
@import "components/icon-row.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat-room.css";

body {
  padding: 0;
  margin: 0;
  font-family: "Gaegu", cursive;
  /* font-family: "Poppins", sans-serif; */
  color: var(--font-color);
  background-image: url("./images/theme_chikawa/mainBgImage.png");
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
