/* google-fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/navi-bar.css";
@import "components/screen-header.css";
@import "components/user-components.css";
@import "components/badge.css";

@import "components/icon-raw.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
