/* google-fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&display=swap");

@import "./css/reset.css";
@import "./css/variables.css";

/* Components */
@import "./css/components/status-bar.css";
@import "./css/components/navi-bar.css";
@import "./css/components/screen-header.css";
@import "./css/components/user-components.css";
@import "./css/components/notification.css";
@import "./css/components/alternative-screen-header.css";
@import "./css/components/icon-row.css";
@import "./css/components/no-mobile.css";

/* Screens */
@import "./css/screens/login.css";
@import "./css/screens/friends.css";
@import "./css/screens/find.css";
@import "./css/screens/more.css";
@import "./css/screens/settings.css";
@import "./css/screens/chat-room.css";

body {
  padding: 0;
  margin: 0;
  font-family: "Gaegu", cursive;
  /* font-family: "Poppins", sans-serif; */
  color: var(--font-color);
  background-image: url("./images/theme_chikawa/mainBgImage.png");
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
