#chat-screen {
  height: 600vh;
}

#chat-screen .alt-header {
  position: fixed;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
}

#chat-screen .status-bar {
  z-index: 2;
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.8s linear;
}

.chat-timestamp {
  font-size: 14px;
  color: white;
  background-color: var(--font-color-opacity-low);
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 18px;
  margin-right: 12px;
}

@keyframes slides-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slides-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.message-row--other {
  animation: slides-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.3s;
}

.message-row--own {
  justify-content: flex-end;
  animation: slides-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.8s;
}

.message__time,
.message__author {
  opacity: 0.8;
  font-size: 13px;
}

.message__author {
  display: block;
  margin-bottom: 8px;
}

.message__bubble {
  background-color: white;
  border: 2px solid var(--font-color);
  border-radius: 15px;

  padding: 8px 13px;
  margin-right: 5px;
  font-size: 18px;
  color: black;
}

.message-row--other .message__bubble {
  border-top-left-radius: 0px;
}

.message-row--own .message__bubble {
  background-color: var(--font-color-opacity-low);
  border-top-right-radius: 0;
  margin-right: 0px;
  margin-left: 5px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply i {
  opacity: 0.5;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  width: 100%;
  border: var(--main-border);
  border-radius: 25px;
  padding: 15px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

/* .reply input::placeholder {
  padding-left: 15px;
} */

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 3px;
}

.reply__column:last-child > i {
  right: 60px;
  top: 7.5px;
}

.reply__column button {
  background-color: var(--font-color-opacity-low);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 97vw;
  transform: translateX(-12%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
