.navi {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--navi-bar-color);
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.navi__list {
  display: flex;
  justify-content: space-between;
}

.navi__link {
  position: relative;
}

.navi__notification {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 17px;
  bottom: 15px;
}

div.navi__notification {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  left: 25px;
  bottom: 25px;
}
