.navi {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--navi-bar-color);
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

@keyframes appearButtonAnimation {
  from {
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.navi__btn {
  transform: translateY(60px);
  animation: appearButtonAnimation 1s ease-in-out forwards;
}

.navi__btn:nth-child(2) {
  animation-delay: 0.2s;
}

.navi__btn:nth-child(3) {
  animation-delay: 0.4s;
}

.navi__btn:last-child {
  animation-delay: 0.6s;
}

.navi__list {
  display: flex;
  justify-content: space-between;
}

.navi__link {
  position: relative;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.navi__notification {
  position: absolute;
  left: 17px;
  bottom: 15px;
  animation: notificationAnimation 2s ease-in-out infinite;
}

div.navi__notification {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  left: 25px;
  bottom: 25px;
}
