.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 50px var(--horizontal-space) var(--horizontal-space)
    var(--horizontal-space);
  align-items: center;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 34px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
}
